{% extends 'base_layout.html' %}

{% block content %}
<div class="donee-detail">
  <div class="donee">
    <img src="{{donee.thumb.url}}"/>
    <h2>{{ donee.name }}</h2>
    <p class='des'>{{ donee.message }}</p>
    <p class='email'>{{ donee.email }}</p>
    {% comment %} <a href=("mailto:"+{{donee.email}}) class='email'>{{ donee.email }}</a> {% endcomment %}
    <p class='contact'>{{ donee.contact }}</p>
    <p class='date'>{{ donee.date }}</p>
  </div>
</div>
<a class="toTop" href="#">jump to top</a>
{% endblock %}
