
{% extends 'base_layout.html' %} {% block content %}
<h1>About Us</h1>
<img id="P1" src="/static/tumblr_mhti9jYY2m1rboj6jo1_500.jpg" alt="..." />
<p>
  The pandemic that is ravaging the world over, has not been any less disruptive
  for the students and teaching facility across the Nation. In light of the fact
  that the country is being affected by this pandemic , causing even more misery
  and suffering to the underprivileged. In Kenya most underprivileged students
  are faced with a lot of Challenges for example Lack of proper uniform,
  expensive textbooks and for Higher education levels, exorbitant fees
  structures. To put this into perspective 42% of children under 18 live in
  monetarily poor households. As Swami Vivekananda once said, "Education is the
  movement from darkness to light". Imagine being in the dark for more than a
  year.
</p>
 
<p>
  Nearly 1 in 3 children live in households lacking the minimum of nationally
  agreed financial resources and are deprived of a minimum of 3 or more basic
  needs and services. 23% of children are multidimensionally poor even though
  they live in households that are not monetarily poor, indicating that there
  are issues with service accessibility, affordability, and availability.
  Orphans, children with disability, children in rural areas, and those who have
  more siblings are more likely to be multidimensionally poor. Children residing
  in communities that do not have access to basic services like healthcare – in
  terms of distance – are more likely to be multidimensionally poor Children
  residing in areas that experience climatic shocks are more likely to be
  multidimensionally poor.
</p>
<h3>How We Help</h3>
<style>
  #ks2 {
    width: 500px;
    float: left;
    margin-right: 15px;
  }
  #P1 {
    width: auto;
    float: right;
    margin-right: 15px;
  }
</style>
<img id="ks2" src="/static/kenyan-students.jpg" alt="..." />
<p>
  In order to support the underprivileged, we have devised a revolutionary
  website that will provide a stage to voice the needs of our future world
  leaders, engineers, doctors and computer scientists. Our core idea is to
  connect the fortunate and the misfortunate to help each other be the best of
  version of themselves. This is conveyed by letting schools, churches,
  children's homes and boarding schools to express their necessities for a
  better learning experience. On the other hand, the generous people, enjoy the
  heart-warming moments where their small contribution helped someone immensely.
</p>
 
<p>
  Secondly, with the current pandemic the necessity of online education has
  increased through our donor platform not only funding can be provided but also
  various other resources can be provided to support and improve the
  accessibility of information, e.g., Online courses, devices for online
  education etc. The key reason as to why our project will be a success and what
  makes our solution special is the journey that the user will enjoy and the
  connection between the donor and receiver provided via our platform. Together
  with the vast applicability of the project is beyond anyone's thinking.
</p>
 
<a class="toTop" href="#">jump to top</a>
{% endblock %}
